/* Colors

Blue #2AACE2
Yellow #FFF200
*/
body {
  font-family: 'Gilroy';
  margin: 0 auto;
  color:#2AACE2;
  text-align: center;
  min-height: 100vh;
}
h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
h3 {
  margin: 7px 0;
  font-weight: lighter;
}
h2 {
  margin-bottom: 7px;
}
.aspot {
  text-align: center;
  padding: 100px 0 20px 0;
  margin: 0 auto;
  vertical-align: middle;
}
.left {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}
.left img {
  max-height: 300px;
  min-width: 200px;
  vertical-align: middle;
}
.right {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.footer {
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 10px;
  width: 100%;
}
@font-face {
    font-family: 'Gilroy';
    src: url(Gilroy-Light.otf);
}
.sec {
  text-align: center;
  padding: 20px;
  display: inline-block;
}
.email {
  text-align: left;
}
input {
  border: none;
  font-family: 'Gilroy';
  font-size: 1.17em;
}
#mce-EMAIL {
  width: 85%;
  border-bottom: 1px solid #2AACE2;
}
input:focus {
  outline: none;
}
label {
  font-family: 'Gilroy';
  font-size: 1.17em;
}
input:placeholder {
  font-family: 'Gilroy';
  font-size: 1.17em;
}
.button {
  padding: 12px 20px;
  margin-top: 10px;
  background: #2AACE2;
  color:white;
}
