/* Colors

Blue #2AACE2
Yellow #FFF200
*/
body {
  font-family: 'Gilroy';
  margin: 0 auto;
  color:#2AACE2;
}
h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
h3 {
  margin: 10px 0;
}
.aspot {
  text-align: center;
  padding: 150px 0 50px 0;
  margin: 0 auto;
  vertical-align: middle;
}
.left {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}
.left img {
  max-height: 300px;
  min-width: 200px;
  vertical-align: middle;
}
.right {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.footer {
  text-align: center;
  padding: 10px;
}
@font-face {
    font-family: 'Gilroy';
    src: url(Gilroy-Light.otf);
}
